@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');
@import "./ordering_page/button/button.css";

:root {
		--dark-lime-green: #007b00;
		--bright-cyan: #24e0b8;
		--vivid-red: #ff3031;
		--very-light-red: #ff8b76;
		--light-orange: #ffcc51;
		--very-soft-cyan: #94D9DA;
		--light-grayish-cyan: #cae0df;
		--strong-cyan: #04b3d5;
		--mostly-desaturated-dark-blue: #4f6c77;
		--dark-grayish-blue: #627281;
		--grayish-blue: #A7C4D4;
		--grayish-light-blue: #9EABB3;
}

#product-overview {
		position: relative;
		background: border-box, var(--very-soft-cyan) url("images/main_page.jpg") border-box left 10% bottom 70%/cover no-repeat border-box;
		width: 100%;
		height: 40vh;
		min-height: calc(100vh - 3rem - 8rem);
		margin-top: 6rem;
}

#product-overview h1 {
		position: absolute;
		bottom: 45%;
		left: 3%;
		color: var(--dark-grayish-blue);
		font-family: 'Marck Script', cursive;
		font-size: 4rem;
}

@media (max-width: 48rem) {
		#product-overview {
				height: 40vh;
				background-position: 10% 70%;
		}
		#product-overview h1 {;
				font-size: 2.5rem;
				position: absolute;
				bottom: 2rem;
				left: 12rem;
		}
}

.modal {
		position: fixed;
		display: none;
		z-index: 200;
		top: 20%;
		left: 30%;
		width: 40%;
		background: white;
		padding: 1rem;
		border: 1px solid gray;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.modal__title {
		text-align: center;
		margin: 0 0 1rem 0;
}

.modal__actions {
		text-align: center;
}

.modal__action {
		border: 1px solid var(--bright-cyan);
		background: var(--bright-cyan);
		text-decoration: none;
		color: white;
		font: inherit;
		padding: .5rem 1rem;
		cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
		background: var(--dark-lime-green);
		border-color: var(--dark-lime-green);
}

.modal__action--negative {
		background: var(--very-light-red);
		border-color: var(--very-light-red);
}

.modal__action--negative:hover,
.modal__action--negative:active {
		background: var(--vivid-red);
		border-color: var(--vivid-red);
}

#popular-toys {
		margin: 1rem;
		width: 100%;
}

#popular-toys h1 {
		margin: 0;
		font-family: 'Marck Script', cursive;
		font-size: 3rem;
		text-align: center;
}

.popular-toys_overviev_mobile {
		display: none;
}

.box-scroll {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 95%;
		height: 400px;
		margin: 3rem 0;
		padding: 1.5rem;
		border-radius: 0;
		box-shadow: rgba(158, 171, 179, 0.73) 0 0 11px 1px;
		transform: translateX(400%);
		transition: transform 0.4s ease;
}

.box-scroll:nth-of-type(even) {
		transform: translateX(-400%);
}

.box-scroll.show {
		transform: translateX(0);
}

.popular-toys_image-container img {
		width: 350px;
		height: 350px;
		object-fit: cover;
		box-shadow: rgba(158, 171, 179, 0.73) 0 0 11px 1px;
}

.popular-toys_info {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		padding: 0 3rem;
}

@media (max-width: 48rem) {
		article h1,
		article p {
				font-size: 1rem;
		}

		.box-scroll {
				margin: 1rem;
		}

		.popular-toys_overviev_main {
				display: none;
		}

		.popular-toys_overviev_mobile {
				margin: .5rem;
		}

		.popular-toys_overviev_mobile {
				display: flex;
				flex-flow: column nowrap;
				align-content: center;
		}

		#popular-toys h1 {
				text-align: center;
				font-size: 2rem;
		}

		.popular-toys_image-container {
				width: 100%;
		}

		.popular-toys_image-container img {
				vertical-align: top;
				box-shadow: rgba(158, 171, 179, 0.73) 0 0 11px 1px;
		}

		.popular-toys_info {
				font-size: 1.5rem;
				width: 100%;
				padding: 1rem;
				text-align: justify;
				vertical-align: middle;
		}
}



