.ordering {
		position: relative;
		top: 50px;
		display: flex;
		flex-wrap: wrap;
		padding: 10rem 0 3rem 0;
		font-size: 1.1rem;
}

.product-card {
		display: flex;
		flex-direction: column;
		flex: 1 21%;
		padding: 2%;
		margin: 2%;
		box-shadow: 0 0 11px 1px rgba(158,171,179,0.73);
		transform: translateY(0);
		will-change: transform;
		transition: transform 0.2s .15s ease;
		cursor: pointer;
		background: white;
		color: #757679;
		font-family: "Avenir Next", sans-serif;
		font-size: 1.3rem;
		font-style: normal;
		font-weight: 400;
		text-align: center;
}

@media (max-width: 48rem) {
		.product-card {
				flex: 1 100%;
				padding: 2%;
				margin: 2%;
		}
}

@media (min-width: 49rem) and (max-width: 64rem){
		.product-card {
				flex: 2 40%;
				padding: 2%;
				margin: 2%;
		}
}

.product-card:hover {
		box-shadow:
				0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25),
				0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
		transform: translateY(-0.25em);
		padding: 0.5em;
}

.product-card:active {
		box-shadow: initial;
		transform: translateY(0);
}

.product-card:focus {
		outline: 0.15em dotted;
}

.product-image img {
		max-width: 100%;
}

.product-info {
		margin-top: auto;
		margin-bottom: 0;
}
